<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhang.novel.pirate.dto.mapper.BookSpiderHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuhang.novel.pirate.dto.entity.BookSpiderHistoryEntity">
    <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        type, url
    </sql>

    <select id="selectByUrl" resultType="com.yuhang.novel.pirate.dto.entity.BookSpiderHistoryEntity">

      SELECT * FROM book_spider_history WHERE  type = #{type} ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectByKdAll" resultType="java.lang.String">
      SELECT url FROM book_spider_history WHERE type = #{type}
    </select>
</mapper>
