<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhang.novel.pirate.dto.mapper.CollectionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuhang.novel.pirate.dto.entity.CollectionsEntity">
    <result column="id" property="id" />
        <result column="book_name" property="name" />
        <result column="bookid" property="bookid" />
        <result column="author" property="author" />
        <result column="create_time" property="createTime" />
        <result column="cover" property="cover" />
        <result column="description" property="description" />
        <result column="book_status" property="bookStatus" />
        <result column="classify_name" property="classifyName" />
        <result column="resouce_type" property="resouceType" />
        <result column="uid" property="uid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        book_name, bookid, author, create_time, cover, description, book_status, classify_name, resouce_type, uid
    </sql>

    <select id="selectUidByCollectionResultModelList" resultType="com.yuhang.novel.pirate.model.CollectionModel">

        SELECT
        book_name, bookid, author, cover, resouce_type
        FROM collections
        WHERE uid = #{uid} AND delete_flag = 0 AND resouce_type != 'KD'
        GROUP BY bookid
    </select>

    <!-- 标签改为删除状态  -->
    <update id="deleteByBookAndResouceType">
        UPDATE collections as c
        set c.delete_flag = 1
        WHERE c.uid = #{uid} AND c.bookid = #{bookid} AND c.resouce_type = #{resouceType}
    </update>

    <!--根据查询收藏对象-->
    <select id="selectCollectionResultModel" resultType="com.yuhang.novel.pirate.dto.entity.CollectionsEntity">
        SELECT *
        FROM collections
         WHERE uid = #{uid} and bookid = #{bookid} and resouce_type = #{resouceType} AND delete_flag = 0
    </select>
</mapper>
