<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhang.novel.pirate.dto.mapper.ReadHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuhang.novel.pirate.dto.entity.ReadHistoryEntity">
        <result column="id" property="id"/>
        <result column="bookid" property="bookid"/>
        <result column="chapterid" property="chapterid"/>
        <result column="chapter_name" property="chapterName"/>
        <result column="content" property="content"/>
        <result column="conver" property="conver"/>
        <result column="author" property="author"/>
        <result column="book_name" property="bookName"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="resouce_type" property="resouceType"/>
        <result column="uid" property="uid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        bookid, chapterid, chapter_name, content, conver, author, book_name, desc, create_time, resouce_type, uid
    </sql>

    <!-- 查找用户阅读记录 -->
    <select id="selectReadHistoryEntityList" resultType="com.yuhang.novel.pirate.model.ReadHistoryModel">
        SELECT * FROM read_history
        WHERE uid = #{uid}  AND delete_flag = 0
        GROUP BY bookid ORDER BY create_time DESC
    </select>

    <update id="updateCreateTime">
        update  read_history
        set read_history.create_time = #{createTime}
        where read_history.uid = #{uid} and read_history.bookid = #{bookid} and read_history.chapterid = #{chapterid} AND delete_flag = 0
    </update>

    <select id="selectReadHistoryEntity" resultType="com.yuhang.novel.pirate.dto.entity.ReadHistoryEntity">
        SELECT *
        FROM read_history
        WHERE uid = #{uid} AND bookid = #{bookid} AND chapterid = #{chapterid} AND delete_flag = 0
        GROUP BY chapterid
        ORDER BY create_time DESC
    </select>

    <update id="deleteReadHistoryEntity">
        UPDATE read_history
        SET delete_flag = 1
        WHERE uid = #{uid} AND bookid = #{bookid} AND chapterid = #{chapterid}
        ORDER BY chapterid DESC LIMIT 1
    </update>
</mapper>
